 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
      color: white;
      background: linear-gradient( rgba(255,0,0),rgba(255,165,0));
    box-shadow: 0 0 10px  rgb(255, 165, 0, 0.2);
    z-index: 1;
  }

.contest-nav .left{
    display: flex;
    align-items: center;
}

.contest-nav .left .back{
    margin-left: 15px;
    /* width: 100%; */
}
.contest-nav .left .back i{
    font-size: 1.5rem;
    /* color: rgb(255, 165, 0, 0.8); */
    /* color: rgb(0, 0, 0, 0.4); */
    color: white;
}

.contest-nav .left .teams{
    width: 100%;
    margin-left: 20px;
}

.contest-nav .left .teams .team span{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

.contest-nav .right{
    margin-right: 0.5rem;
    background-color: rgb(0, 0, 0, 0.08);
    padding: 0.2em;
    border-radius: 0.2em;
}

.contest-nav .right .wallet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.contest-nav .right a{
    text-decoration: none;
    color: none;
}

.contest-nav .right .wallet div{
    margin-left: 0.3em;
    margin-right: 0.3em;
}
.contest-nav .right .wallet i{
    font-size: 1.3rem;
    color: black;
    /* margin-right: 5px; */
    color: white;
}

.contest-nav .right .wallet span{
    font-size: 1.3rem;
    /* margin-right: ; */
    color: white;
}


.contest-nav .right .wallet .add-more{
    font-size: 1.1rem;
    background-color: green;
    color: white;
    padding: 2px 8px;
    border-radius: 20px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    margin: 4.3rem auto;
    left: 0;
    z-index: 1;
}

.wrapper-bottom{
    width: 100%;
    height: 50vh;
    margin: 4.3rem auto;
    left: 0;
    z-index: 1;
}

.wrapper .tab-nav{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 11;
    top:4rem;
    display: flex;
    align-items: center;
    background: white;
    box-shadow: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.08);
}

.wrapper nav label{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: rgb(0, 0, 0, 0.7);
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code{
    color: red;
}

nav label i{
    padding-right: 7px;
}

nav .slider{
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 5px;
    /* background-color: blue; */
    transition: all 0.3s ease;
}

input[type="radio"]{
    display: none;
}

#blog:checked ~ nav .slider{
    left: 20%;
}

#code:checked ~ nav .slider{
    left: 40%;
}

section .content{
    display: none;
    background-color: #fff;
}

#home:checked ~ section .content-1,
#blog:checked ~ section .content-2,
#code:checked ~ section .content-3{
    display: block;
}

.contests{
    /* width: 50%; */
    height: 100%;
    margin: 1rem 0;
    padding: 1.5rem;
    background: rgb(0, 0, 0, 0.02);
}

 
.contests .contests-name .title{
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 0.9rem;
}

.contests .contests-name .prize-pool{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.contests .contests-name .prize-pool .title-prize-pool{
    color: rgba(0, 0, 0, 0.5);
}
.contests .contests-name .prize-pool .title-prize-pool i{
    color: green;
    margin-left: 0.4rem;
}

.contests .contests-name .prize-pool .prize-pool-money{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
}

.contests .contests-name .prize-pool .prize-pool-money .total-prize-pool{
    font-size: 1.3rem;
    font-weight: 600;
}

.contests .contests-name .prize-pool .prize-pool-money .prize-pool-entry{
    font-size: 0.8rem;
    background-color: green;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1.8rem;
    border-radius: 5px;
}

.contests .contests-name .prize-pool .spots div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.1rem;
}

.contests .contests-name .prize-pool .spots div .left-spots{
    color: red;
}

.contests .contests-name .prize-pool .spots div .total-spots{
    color: rgba(0, 0, 0, 0.5);
}

.contests .contests-name .prize-pool .spots .spots-indicator .back{
    width: 100%;
    height: 0.3rem;
    background: rgba(255,0,0,0.1);
    border-radius: 5px;
    position: relative;
}

.contests .contests-name .prize-pool .spots .spots-indicator .back .front{
    width: 50%;
    height: 0.3rem;
    background: rgba(255,0,0,1);
    border-radius: 5px;
    position: absolute;
}
.contests .contests-name .prize-pool .contest-info{
    margin-top: 1rem;
    width: 100%;
    background: rgb(0, 0, 0, 0.02);
    padding: 0.5rem;
    border-radius: 5px;
}

 
.contests .contests-name .prize-pool .contest-info .info{
    margin-left: 0.9rem;
}

.contests .contests-name .prize-pool .contest-info .first-winner .first{
    background-color: lightyellow;
    padding: 0.2rem;
    border-radius: 3px;
}


.contests .contests-name .prize-pool .contest-info .first-winner .money{
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 0.1rem;
}

.contests .contests-name .prize-pool .contest-info .winners {
    color: rgba(0, 0, 0, 0.56);
}


.contests .contests-name .prize-pool .contest-info .max-entry {
    color: rgba(0, 0, 0, 0.56);
}

.wrapper .title{
    width: 100%;
}

.wrapper  .title .my-contests{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  flex-direction: column;
}

.wrapper  .title .my-contests .icon i{
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.09);
    margin-bottom: 1rem;
}
.wrapper  .title .my-contests .suggest{
    width: 100%;
    text-align: center;
}

.wrapper  .title .my-contests .suggest .text{
    font-size: 1.01rem;
}

.wrapper  .title .my-contests  .join-a-contest{
    margin-top: 1rem;
}


.wrapper  .title .my-contests  .join-a-contest a{
    text-decoration: none;
    background-color: green;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.8rem;
}

.wrapper  .title .my-team{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    flex-direction: column;
  }

  .wrapper  .title .my-team div{
    margin-bottom: 1rem;
  }

  .wrapper  .title .my-team .text{
    font-weight: bold;
    font-size: 1.3rem;
  }

  .wrapper  .title .my-team .create-a-team i{
    margin-right: 0.5rem;
  }
  .wrapper  .title .my-team .create-a-team a{
    text-decoration: none;
    background-color: green;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.8rem;
  }

  .join-contest{
    display: none;
  }
 
.cm-teams-container {
    background-color: darkgreen;
    border-radius: 5px;
    margin: 0.5em;
  }
  
  .cm-teams-container .cm-teams-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
    font-weight: 700;
  }
  
  .cm-teams-container .cm-teams-points-c-vc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }
  
  .cm-teams-container .cm-teams-points-c-vc .cm-team-points .cm-teams-points-title {
    font-size: 0.7em;
    color: #fff;
    font-weight: 500;
  }
  
  .cm-teams-container .cm-teams-points-c-vc .cm-team-points .cm-teams-points-number {
    font-size: 1.1em;
    color: #fff;
    font-weight: 800;
  }
  
  .cm-teams-container .cm-teams-points-c-vc .cm-teams-c-vc-wrapper {
    display: flex;
  }
  
  .cm-teams-c-vc .cm-teams-choice-c-vc {
    text-align: center;
    color: #fff;
  }
  
  .cm-teams-c-vc .cm-teams-choice-c-vc .cm-teams-c-vc-title {
    font-size: 0.6em;
    background-color: lightgray;
    color: black;
    font-weight: 700;
    width: 23%;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0.2em;
  }
  
  .cm-teams-c-vc .cm-teams-choice-c-vc img {
    margin-top: 0.5em;
  }
  
  .cm-teams-c-vc .cm-teams-choice-c-vc .cm-teams-choice-c-vc-player-name {
    font-size: 0.6em;
    margin: 0 1em;
    padding: 0 1em;
    background-color: darkgray;
    color: #fff;
  }
  
  .cm-teams-container .cm-teams-pos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 0.5em 0;
    color: grey;
    font-size: 0.9em;
  }
  
  .cm-teams-container .cm-teams-pos .cm-teams-pos-number {
    font-size: 1em;
    font-weight: 700;
    color: white;
    margin-left: 0.5em;
  }
  
  .cm-teams-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
  
  }
  
  
.preview-team {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    z-index: 111;
    display: none;
  }
  
  
  .preview-team .preview-nav {
    background-color: rgb(50, 12, 100);
    color: white;
    padding: 1rem;
  }
  
  .preview-team .preview-nav .close-username {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

  }

  .preview-team .preview-nav .close-username .close-un{
    display: flex;
    align-items: center;
    gap: 0 1em;
}

.preview-team .preview-nav .close-username .links a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 1em;
}
  
  .preview-team .preview-nav .close-username .preview-close {
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .preview-team .preview-nav .close-username .username {
    font-weight: 700;
  }
  
  .preview-team .preview-nav .players-selected-credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding-top: 0.5rem;
  }
  
  .preview-team .preview-nav .players-selected-credits .players .title,
  .preview-team .preview-nav .players-selected-credits .credits .title {
    color: lightgray;
  }
  
  
  .preview-team .preview-nav .players-selected-credits .players .value {
    color: lightgray;
  }
  
  
  .preview-team .preview-nav .players-selected-credits .players .value span,
  .preview-team .preview-nav .players-selected-credits .credits .value {
    color: #FFF;
    font-size: 1.2em;
  }
  
  .preview-team .preview-nav .players-selected-credits .selected .lt .team {
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 0.2rem;
    margin-right: 0.3rem;
    border-radius: 2px;
    font-size: 1rem;
  }
  
  .preview-team .preview-nav .players-selected-credits .selected .rt,
  .preview-team .preview-nav .players-selected-credits .selected .lt {
    font-size: 1.3rem;
  }
  
  .preview-team .preview-nav .players-selected-credits .selected .rt .team {
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 0.2rem;
    margin-left: 0.3rem;
    border-radius: 2px;
    font-size: 1rem;
  }
  
  .preview-team .selected-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  
  .preview-team .selected-player .no-selected-player {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
    color: #FFF;
  }
  
  .preview-team .selected-player .no-selected-player .title {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .preview-team .selected-player .no-selected-player .starting-btn {
    background-color: #FFF;
    color: black;
    padding: 0.5rem;
    border-radius: 7px;
    font-weight: 800;
    cursor: pointer;
  }
  
  .preview-team .your-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .preview-team .your-team .wk,
  .preview-team .your-team .bat,
  .preview-team .your-team .ar,
  .preview-team .your-team .bowl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .preview-team .your-team .wk-title,
  .preview-team .your-team .bat-title,
  .preview-team .your-team .ar-title,
  .preview-team .your-team .bowl-title {
    color: grey;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
  }
  
  .preview-team .your-team .wk .your-player .your-player-name,
  .preview-team .your-team .bat .your-player .your-player-name,
  .preview-team .your-team .ar .your-player .your-player-name,
  .preview-team .your-team .bowl .your-player .your-player-name {
    background-color: #FFF;
    padding: 0.3rem;
    border-radius: 5px;
    margin-top: -0.3rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }
  
  .preview-team .your-team .wk .your-player .your-player-credit,
  .preview-team .your-team .bat .your-player .your-player-credit,
  .preview-team .your-team .ar .your-player .your-player-credit,
  .preview-team .your-team .bowl .your-player .your-player-credit {
    color: #FFF;
  }
  
  @media screen and (max-width:1091px) {
    .cm-teams-wrapper {
      display: grid;
      grid-template-columns: auto auto;
  
    }
  }
  
  @media screen and (max-width:721px) {
    .cm-teams-wrapper {
      display: grid;
      grid-template-columns: auto;
  
    }
  }
  
@media screen and (max-width:400px) {
    .contest-nav{
        font-size: 0.7em;
    }
    .wallet{
        font-size: 0.7em;
    }
    .contests .contests-name .title{
        font-size: 1em;
    }
    .contests .contests-name .prize-pool{
        font-size: 0.9em;
    }
    .contests .contests-name .prize-pool .prize-pool-money .total-prize-pool{
        font-size: 1.1em;
    }
    .contests .contests-name .prize-pool .prize-pool-money .prize-pool-entry{
        padding: 0.5em 1em;
        /* font-size: 0.5em; */
    }
    
    .contests .contests-name .prize-pool .spots div{
        font-size: 0.9em;
    }

    .contests .contests-name .prize-pool .contest-info{
        font-size: 0.8em;
    }
    .wrapper  .title .my-team .text{
        font-size: 1em;
    }
    .wrapper  .title .my-team .suggest{
        font-size: 0.8em;
    }
    .wrapper  .title .my-team .create-a-team a{
        font-size: 0.7em;
    }
    .cm-teams-nav{
        font-size: 0.8em;
    }
    .preview-team .preview-nav .close-username .links a{
        font-size: 1em;
    }
}

