/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;

}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient( rgba(255,0,0),rgba(255,165,0));

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo, .activation .activation_logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon, .activation .activation_logo .right_arrow {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  margin-left: 10px;
  cursor: pointer;

}
.logo .logo-name, .activation .activation_logo .name, nav .logo_text {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
 .activation .activation_sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
 }

nav.open .sidebar {
  left: 0;
}
nav.activation_open .activation_sidebar{
  right: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}


.activation .activation_sidebar_content .button {
  background: orange;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  color: white;
  outline: none;
  border: none;
  font-size: 15px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.lists .nav-link:hover {
  background-color:  	rgb(255,165,0);
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link, .activation .activation_sidebar_content .activation_nav-link .activation_link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
.overlay2 {
  position: fixed;
  top: 0;
  right: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}
nav.activation_open ~ .overlay2{
  opacity: 1;
  right: 260px;
  pointer-events: auto;
}

@media screen and (max-width:600px) {
  nav .logo_text{
    display: none;
  }
}